* {
  max-width: 768px !important;
}
.nav-link {
  text-align: right;
}
.Toastify__close-button > svg {
  margin-top: 15px;
}
a {
  text-decoration: none !important;
}
.offcanvas {
  max-width: 230px !important;
}

/** receipt full screen preview */
.thumbnail {
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.viewer img {
  max-width: 90%;
  max-height: 90%;
}

.viewer:after {
  content: "Click anywhere to close";
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 14px;
}

/** receipt full screen preview ends */

/** pagiantion */
.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination .active button {
  background-color: #4caf50;
  color: white;
}

/** pagiantion ends*/

.downloadReceipt {
  position: absolute;
  top: 11%;
  border: 0;
  border-radius: 5px;
}
.downloadIcon{
  padding: 5px;
  border-radius: 5px;
}