* {
  max-width: 768px !important;
}
.nav-link {
  text-align: right;
}
.Toastify__close-button > svg {
  margin-top: 15px;
}
a {
  text-decoration: none !important;
}
.offcanvas {
  max-width: 230px !important;
}
